<% include partials/head %>

<body>
  <% include partials/navbar %>
  <div class="container">

    <% if(result.data.length === 1) {
      result.data.forEach(member => {
        let count = 0;
    %>

    <table class="table">
      <thead>
        <tr>
          <th> Fields</th>
          <th>Entries</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Unit ID:</th>
          <td><%= member.unit_id %></td>
        </tr>
        <tr>
          <th>Surname: </th>
          <td><%= member.surname %></td>
        </tr>
        <tr>
          <th>Firstname</th>
          <td><%= member.firstname %></td>
        </tr>
        <tr>
          <th>Station</th>
          <td><%= member.station %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= member.phone %></td>
        </tr>
        <tr>
          <th>OTP: </th>
          <td><%= member.otp %></td>
        </tr>
        <tr>
          <th>Availability: </th>
          <td><%= member.availability %></td>
        </tr>

        <tr>
          <th>Gender :</th>
          <td><%= member.gender %></td>
        </tr>

      </tbody>
    </table>
    <% 
    })} else {
  %>

    <h1 style="text-align: center;"> Confirm Registration </h1>
    <form name="member-login" method="POST" action="/confirm">
      <% if (result.message) {%>
      <article class="message"> <%= result.message %></article>
      <%}%>
              <div class="form-group">
                <!-- <label for="choir_id">Find By:</label>
                <select name="criterion">
                  <option value="phone">Phone Number</option>
                  <option value="unit_id">Unit ID</option>
                </select> -->
                 
              </div>
              <div class="form-group">
                <label for="value">Member ID:</label>
                <input type="text"  name="unit_id" required class="form-control" >
              </div>
              
              <button name="search" type="submit" class="btn">Search <i class="fa fa-search"></i></button>
            </form>

    <% }%>


  </div>
  <% include partials/footer %>
  <script src=""></script>
</body>

</html>